# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python tooling
__pycache__/


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Wiki sync temp directory
.wiki-temp/

# Jekyll .gitignore
*.gem
.bundle
.sass-cache
_site
Gemfile.lock
.idea
!node_modules/bulma
!node_modules/bulma-block-list