# Name of your site (displayed in the header)
name: BibleQuiz.com
title: BibleQuiz.com
description: Home of AG Bible Quiz
tagline: BibleQuiz.com Tagline
lang: en

# Pagination
paginate: 6
paginate_path: "/blog/:num"

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: /favicon.png

# Theme for the site.
remote_theme: chrisrhymes/bulma-clean-theme

# Includes an icon in the footer for each username you enter
footer-links:
  dribbble:
  email: 
  facebook: groups/agbiblequiz
  flickr:
  github: 
  instagram:
  linkedin: 
  pinterest:
  rss: rss
  twitter: biblequiz
  stackoverflow: 
  youtube: 
  googleplus: # anything in your profile username that comes after plus.google.com/
  playconsole:
  mastodon: # <your-mastodon-instance>/@<your-user-name> eg. fosstodon.org/@username

# Enter your Disqus shortname (not your username) to enable commenting on posts
# You can find your shortname on the Settings page of your Disqus account
disqus: # biblequiz

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics: UA-51263872-1

# For newer "GA4" analytics, use the following instead of the "UA" entry above
#google_analytics_ga4: G-GABC1DEFG

# Used for Sitemap.xml and your RSS feed
url: http://gh.biblequiz.com
enforce_ssl: https://gh.biblequiz.com
baseurl: ""
permalink: /:year/:month/:title/

# The release of Jekyll Now that you're using
version: v1.2.0

defaults:
- scope:
    path: ""
    type: "pages"
  values:
    hero_height: is-small
- scope:
    path: ""
    type: "posts"
  values:
    hero_height: is-small

# Set the Sass partials directory, as we're using @imports
sass:
  style: :compressed # You might prefer to minify using :compressed
  source_dir: _sass

# Additional directories to include.
include: ['_pages']

# Use the following plug-ins
plugins:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem
  - jekyll-seo-tag
  - jekyll-paginate
  - kramdown-parser-gfm
  - jekyll-redirect-from

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME