{% assign events = site.data.generated.events[include.year] %}

{% if include.addGroupHeaders %}
  {% assign events = events | sort: 'group' %}
{% endif %}

{% assign isTableStarted = false %}
{% assign lastHeader = '' %}
{% for event in events %}
  {% if include.type and event.type != include.type %}{% continue %}{% endif %}
  {% if include.scope and event.groupScope != include.scope %}{% continue %}{% endif %}

  {% if (include.addHeaders and event.group != lastHeader) or forloop.index == 0 %}
    {% if include.addHeaders and event.group != lastHeader %}
      {% assign lastHeader = event.group %}
<h2 id="{{ event.name | slugify }}">{{ event.name }}</h2>
    {% endif %}
    {% if isTableStarted == true %}
  </tbody>
</table>
    {% endif %}
<table>
  <thead>
    <tr>
      {% if !include.scope %}
      <th>Scope</th>
      {% endif %}
      <th>Event</th>
      <th>Location</th>
      <th>Date(s)</th>
    </tr>
  </thead>
  <tbody>
    {% assign isTableStarted = true %}
  {% endif %}
    <tr>
    {% if !include.scope %}
      <td>
          {% if event.groupScope == "tournament" %}
          <span class="badge badge-warning">TOURNAMENT</span>
          {% elsif event.groupScope == "region" %}
          <span class="badge badge-info">REGIONAL</span>
          {% elsif event.groupScope == "district" %}
          <span class="badge badge-success">DISTRICT</span>
          {% endif %}
      </td>
    {% endif %}
      <td>{{ event.name }}</td>
      <td>{{ event.locationName }}<br><em>{{ event.locationCity }}</em></td>
      <td>{{ event.dates }}</td>
    </tr>
{% endfor %}

{% if isTableStarted == true %}
  </tbody>
</table>
{% endif %}