<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
  integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/qrcode.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/live-event-scores.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/live-event-scores.css">

<div style="display:none" id="resultsPane">
  <div class="tabs is-boxed hide-on-print">
    <ul>
      <li id="schedulesTab">
        <a>
          <span class="icon is-small"><i class="fas fa-calendar-alt"></i></span>
          <span>Schedule</span>
        </a>
      </li>
      <li id="statsTab">
        <a>
          <span class="icon is-small"><i class="fas fa-trophy"></i></span>
          <span>Team &amp; Quizzer Stats</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="has-text-centered" id="loadingPane" style="margin-top:30px">
  <p><b>Retrieving Latest Information for Event ...</b></p>
  <progress class="progress is-medium is-primary" max="100">30%</progress>
</div>

<div class="notification is-danger" id="errorPane" style="margin-top:30px;display:none">
  Failed to retrieve the latest information. Please try again ...
</div>

<div class="modal hide-on-print" id="teamModal">
  <div class="modal-background hide-on-print"></div>
  <div class="modal-card" style="width:95%">
    <header class="modal-card-head">
      <p class="modal-card-title" id="teamModalTitle" style="margin-bottom:0px">Title</p>
      <button class="delete hide-on-print" id="teamModalClose" />
    </header>
    <section class="modal-card-body" id="teamModalBody">Body</section>
  </div>
</div>