{% assign scores = site.data.generated.scores[include.id] %}

{% for item in scores %}
{% if item.groupHeader %}
<h2 id="{{ item.groupHeader | slugify }}">{{ item.groupHeader }}</h2>
{% assign hasGroupHeaders = true %}
{% elsif item.meetName %}

<{% if hasGroupHeaders %}h3{% else %}h2{% endif %} id="{{ item.meetName | slugify }}">{{ item.meetName }}</{% if hasGroupHeaders %}h3{% else %}h2{% endif %}>

{% if item.teams %}
{% if hasGroupHeaders %}<h4>Teams</h4>{% else %}<h3 id="{{ item.meetName | append: '-Teams' | slugify }}">Teams</h3>{% endif %}
<table class="table is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th style="text-align: right">#</th>
      <th>Team / Church</th>
      <th style="text-align: right">W / L</th>
      <th style="text-align: right">Total</th>
      <th style="text-align: right">AVG</th>
      <th style="text-align: right">QO</th>
      <th style="text-align: right">Q%</th>
    </tr>
  </thead>
  <tbody>
    {% for row in item.teams.rows %}
    <tr>
      <td style="text-align: right">{{ row.rank }}</td>
      <td>{{ row.team }}</td>
      <td style="text-align: right">{{ row.winLoss }}</td>
      <td style="text-align: right">{{ row.total }}</td>
      <td style="text-align: right">{{ row.average }}</td>
      <td style="text-align: right">{{ row.quizOuts }}</td>
      <td style="text-align: right">{{ row.qPercentage }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if item.teams.placement %}
<p><em>{{ item.teams.placement }}</em></p>
{% endif %}
{% endif %}

{% if item.individuals %}
{% if hasGroupHeaders %}<h4>Individuals</h4>{% else %}<h3 id="{{ item.meetName | append: '-Individuals' | slugify }}">Individuals</h3>{% endif %}
<table class="table is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th style="text-align: right">#</th>
      <th>Quizzer</th>
      <th>Team / Church</th>
      <th style="text-align: right">Total</th>
      <th style="text-align: right">AVG</th>
      <th style="text-align: right">QO</th>
      <th style="text-align: right">Q%</th>
    </tr>
  </thead>
  <tbody>
    {% for row in item.individuals.rows %}
    <tr>
      <td style="text-align: right">{{ row.rank }}</td>
      <td>{{ row.quizzer }}</td>
      <td>{{ row.team }}</td>
      <td style="text-align: right">{{ row.total }}</td>
      <td style="text-align: right">{{ row.average }}</td>
      <td style="text-align: right">{{ row.quizOuts }}</td>
      <td style="text-align: right">{{ row.qPercentage }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if item.individuals.placement %}
<p><em>{{ item.individuals.placement }}</em></p>
{% endif %}
{% endif %}

{% endif %}
{% endfor %}