
{% assign events = site.data.generated.events[include.year] %}

{% if include.addGroupHeaders %}
  {% assign grouped_events = events | group_by: 'group' %}
  {% for group in grouped_events %}
<h2 id="{{ group.name | slugify }}">{{ group.name }}</h2>
<table>
  <thead>
    <tr>
      <th>Scope</th>
      <th>Event</th>
      <th>Location</th>
      <th>Date(s)</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
  {% endfor %}
{% else %}
<table>
  <thead>
    <tr>
      <th>Scope</th>
      <th>Event</th>
      <th>Location</th>
      <th>Date(s)</th>
    </tr>
  </thead>
  <tbody>
{% endif %}

{% if include.year == 'live' %}
    {% assign groups = site.data.generated[include.type]['events_live'] %}
{% elsif include.scope %}
    {% assign scope_filename = 'events_' | append: include.scope %}
    {% assign groups = site.data.generated[include.type][include.year][scope_filename] %}
{% endif %}


<pre>{{ events }}</pre>

{% if include.scope %}
  {% assign events = events | where: "groupScope",include.scope %}
{% endif %}

{% if include.addGroupHeaders %}
  {% assign events = events | sort: "group" %}
{% endif %}

<pre>{{ events }}</pre>

{% assign events_by_scope = site.data.generated.events_2023.jbq | group_by: 'groupScope' %}

<pre>{{ events_by_scope }}</pre>
<pre>{{ site.data.generated.events_2023.jbq }}</pre>

<h1 id="tbq-2023-district-events">TBQ 2023 District Events</h1>

<h2 id="northwest">Northwest</h2>

<table>
  <thead>
    <tr>
      <th>Scope</th>
      <th>Event</th>
      <th>Location</th>
      <th>Date(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>-</td>
      <td>District Finals</td>
      <td>Spokane Valley Assembly of God<br><em>Spokane Valley, WA</em></td>
      <td>Mar 31 - Apr 1, 2023</td>
    </tr>
    <tr>
      <td>-</td>
      <td>League #4</td>
      <td>Cedar Park Assembly of God<br><em>Bothell, WA</em></td>
      <td>Feb 25, 2023</td>
    </tr>
    <tr>
      <td>-</td>
      <td>League #3</td>
      <td>Bellevue Neighborhood Church<br><em>Bellevue, WA</em></td>
      <td>Jan 21, 2023</td>
    </tr>
  </tbody>
</table>

<h2 id="pen-florida">Pen Florida</h2>

<table>
  <thead>
    <tr>
      <th>Scope</th>
      <th>Event</th>
      <th>Location</th>
      <th>Date(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>-</td>
      <td>District Finals</td>
      <td>Southeastern University<br><em>Lakeland, FL</em></td>
      <td>Apr 1, 2023</td>
    </tr>
  </tbody>
</table>

<h1 id="tbq-live-events">TBQ Live Events</h1>


</div>

{% if groups %}
{% for group in groups %}
{% if group.header %}## {{ group.header }}{% endif %}
{% if group.events %}
| Scope | Event | Location | Date(s) |
|-------|-------|----------|---------|
{% for event in group.events %}| {{ event.scope | include.scope | default: '-' }} | {{ event.name }} | {{ event.locationName }}<br />*{{ event.locationCity }}* | {{ event.dates }} |
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}