<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
  integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/qrcode.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/live-event-scores.js?version=2" type="module"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/live-event-scores.css">

{% if include.event_id %}
<script type="text/javascript">
  window.static_event_id = "{{ include.event_id }}"
</script>
{% endif %}

<div class="has-text-centered" id="loadingPane" style="margin-top:30px">
  <p><b>Retrieving Latest Information for Event ...</b></p>
  <progress class="progress is-medium is-primary" max="100">30%</progress>
</div>

<div class="notification is-danger" id="errorPane" style="margin-top:30px;display:none">
  Failed to retrieve the latest information. Please try again ...
</div>

<div style="display:none" id="resultsPane">
  <div class="tabs is-boxed hide-on-print">
    <ul class="mt-0 ml-0">
      <li id="schedulesTab">
        <a>
          <span class="icon is-small"><i class="fas fa-calendar-alt"></i></span>
          <span>Schedule</span>
        </a>
      </li>
      <li id="statsTab">
        <a>
          <span class="icon is-small"><i class="fas fa-trophy"></i></span>
          <span>Team &amp; Quizzer Stats</span>
        </a>
      </li>
      <li id="coordinatorTab">
        <a>
          <span class="icon is-small"><i class="fas fa-thermometer-half"></i></span>
          <span>Overall Status</span>
        </a>
      </li>
      <li id="qrcodeTab">
        <a>
          <span class="icon is-small"><i class="fas fa-qrcode"></i></span>
          <span>QR Code</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="field has-addons hide-on-print mb-0" id="searchRow">
    <div class="dropdown" id="searchDropdown">
      <div class="dropdown-menu" style="top: 75%">
        <div class="dropdown-content">
          <b class="dropdown-item">QUIZZERS</b>
          <div id="quizzerResults">
            <a class="dropdown-item" id="resultTemplate">
              <span id="name"></span> @ <span id="meet"></span>
              <br />
              <i><span id="team"></span> (<span id="church"></span>)</i>
            </a>
            <i class="dropdown-item" id="noResultsTemplate">
              No Results
            </i>
          </div>
          <hr class="dropdown-divider">
          <b class="dropdown-item">TEAMS</b>
          <div id="teamResults">
            <a class="dropdown-item" id="resultTemplate">
              <span id="name"></span> @ <span id="meet"></span>
              <br />
              <i><span id="church"></span></i>
            </a>
            <i class="dropdown-item" id="noResultsTemplate">
              No Results
            </i>
          </div>
        </div>
        <div class="dropdown-content" id="searchDropdownItems" style="display:none">
        </div>
      </div>
    </div>
    <p class="control is-expanded has-icons-left">
      <input class="input" type="search" id="searchBox" placeholder="Search Team or Quizzer ..." />
      <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
    </p>
    <div class="control">
      <a class="button is-primary" id="searchButton">
        Search
      </a>
    </div>
  </div>

  <div class="tabs is-toggle is-small mb-0 hide-on-print" id="scheduleViewTabs">
    <ul class="ml-0 mt-0">
      <li id="scheduleViewTab_Team">
        <a>
          <i class="fas fa-users"></i>&nbsp;Team Schedules
        </a>
      </li>
      <li id="scheduleViewTab_Room">
        <a>
          <i class="fas fa-door-open"></i>&nbsp;Room Schedules
        </a>
      </li>
      <li id="scheduleViewTab_Grid">
        <a>
          <i class="fas fa-border-all"></i>&nbsp;Schedule Grid
        </a>
      </li>
    </ul>
  </div>

  <div class="modal hide-on-print" id="teamModal">
    <div class="modal-background hide-on-print"></div>
    <div class="modal-card" style="width:95%">
      <header class="modal-card-head">
        <p class="modal-card-title" id="teamModalTitle" style="margin-bottom:0px;max-width:96%">Title</p>
        <button class="delete hide-on-print" id="teamModalClose" />
      </header>
      <section class="modal-card-body" id="teamModalBody">Body</section>
    </div>
  </div>

  <template id="statsTemplate">
    <div class="columns is-mobile mt-2">
      <div class="column is-four-fifths">
        <p class="title is-3" id="meetName" />
        <p class="subtitle is-7"><i>Last Updated: <span id="lastUpdated" /></i></p>
      </div>
      <div class="column is-one-fifth has-text-right hide-on-print" id="statsPrintButton">
        <div class="dropdown is-right">
          <div class="dropdown-trigger">
            <button class="button is-primary"><i class="fas fa-print"></i></button>
            <div class="dropdown-menu">
              <div class="dropdown-content">
                <a class="dropdown-item" id="print_TeamsAndQuizzers">Teams &amp; Quizzers</a>
                <a class="dropdown-item" id="print_TeamsOnly">Teams Only</a>
                <a class="dropdown-item" id="print_QuizzersOnly">Quizzers Only</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notification is-info" id="noScoresWarning">
      <strong>Either the event coordinator hasn't enabled scores for this event yet or scoring hasn't started
        yet.</strong>
    </div>
    <div class="notification is-success" id="meetProgress_IsCompleted">
      <strong>COMPLETE: <span id="meetProgressLabel" /></strong>
    </div>
    <div class="notification is-warning" id="meetProgress_IsMismatched">
      <strong>IN PROGRESS: <span id="meetProgressLabel" /></strong>
    </div>
    <div id="teamsSection">
      <p class="title is-4" style="margin-top: 0px;">Teams</p>
      <div class="is-size-6" id="teamRankingRow">
        <i><strong>Team Report:</strong> <span id="teamRankingLabel" /></i>
      </div>
      <table class="table is-striped is-fullwidth is-bordered is-narrow">
        <thead>
          <tr>
            <th class="has-text-right" width="30">#</th>
            <th width="33%">Team (Church)</th>
            <th class="has-text-right" width="30">W</th>
            <th class="has-text-right" width="30">L</th>
            <th class="has-text-right" width="65">W%</th>
            <th class="has-text-right" width="65">Total</th>
            <th class="has-text-right" width="65">Avg</th>
            <th class="has-text-right" width="45">QO</th>
            <th class="has-text-right" width="45">Q%</th>
            <th class="has-text-right" width="45">30s</th>
            <th class="has-text-right" width="45">20s</th>
            <th class="has-text-right" width="45">10s</th>
          </tr>
        </thead>
        <tbody id="teamsTableBody">
          <tr id="tableRow">
            <td class="has-text-right" id="rankColumn" />
            <td id="nameColumn" />
            <td class="has-text-right" id="winColumn" />
            <td class="has-text-right" id="lossColumn" />
            <td class="has-text-right" id="winPercentageColumn" />
            <td class="has-text-right" id="totalColumn" />
            <td class="has-text-right" id="averageColumn" />
            <td class="has-text-right" id="quizOutColumn" />
            <td class="has-text-right" id="quizOutPercentageColumn" />
            <td class="has-text-right" id="question30sColumn" />
            <td class="has-text-right" id="question20sColumn" />
            <td class="has-text-right" id="question10sColumn" />
          </tr>
        </tbody>
      </table>
      <div id="teamFootnotes">
        <font size="2" id="teamFootnotesText"></font>
      </div>
      <div id="teamTieBreakingRow">
        <font size="2"><i>* Tie couldn't be broken by tie breaking rules.</i></font>
      </div>
    </div>
    <div id="quizzersSection" class="mt-4">
      <p class="title is-4">Quizzers</p>
      <div class="is-size-6" id="quizzersRankingRow">
        <i><strong>Individual Report:</strong> <span id="quizzerRankingLabel" /></i>
      </div>
      <table class="table is-striped is-fullwidth is-bordered is-narrow">
        <thead>
          <tr>
            <th class="has-text-right" width="30">#</th>
            <th>Quizzer</th>
            <th>Team (Church)</th>
            <th class="has-text-right" width="65">Total</th>
            <th class="has-text-right" width="65">Avg</th>
            <th class="has-text-right" width="45">QO</th>
            <th class="has-text-right" width="45">Q%</th>
            <th class="has-text-right" width="45">30s</th>
            <th class="has-text-right" width="45">20s</th>
            <th class="has-text-right" width="45">10s</th>
          </tr>
        </thead>
        <tbody id="quizzersTableBody">
          <tr id="tableRow">
            <td class="has-text-right" id="rankColumn" />
            <td id="nameColumn" />
            <td id="teamNameColumn" />
            <td class="has-text-right" id="totalColumn" />
            <td class="has-text-right" id="averageColumn" />
            <td class="has-text-right" id="quizOutColumn" />
            <td class="has-text-right" id="quizOutPercentageColumn" />
            <td class="has-text-right" id="question30sColumn" />
            <td class="has-text-right" id="question20sColumn" />
            <td class="has-text-right" id="question10sColumn" />
          </tr>
        </tbody>
      </table>
      <div id="quizzerFootnotes">
        <font size="2" id="quizzerFootnotesText"></font>
      </div>
      <div id="quizzerTieBreakingRow">
        <font size="2"><i>* Tie couldn't be broken by tie breaking rules.</i></font>
      </div>
    </div>
  </template>

  <template id="schedulesTemplate">
    <div class="columns is-mobile mt-2">
      <div class="column is-four-fifths">
        <p class="title is-3" id="meetName" />
        <p class="subtitle is-7"><i>Last Updated: <span id="lastUpdated" /></i></p>
      </div>
      <div class="column is-one-fifth has-text-right hide-on-print">
        <div class="dropdown is-right">
          <div class="dropdown-trigger">
            <button class="button is-primary"><i class="fas fa-print"></i></button>
            <div class="dropdown-menu">
              <div class="dropdown-content">
                <div class="dropdown-item" id="print_MultiplePerPageSection">
                  <h6 class="mb-0">MANY <span id="print_MultiplePerPageLabel">TEAMS</span> PER PAGE</h6>
                </div>
                <a class="dropdown-item" id="print_ScheduleAndScores">Schedule and Scores</a>
                <a class="dropdown-item" id="print_ScheduleOnly">Schedule Only</a>
                <div id="print_ScheduleSingleTeam">
                  <hr class="dropdown-divider" />
                  <div class="dropdown-item">
                    <h6 class="mb-0">SINGLE <span id="print_SinglePerPageLabel">TEAM</span> PER PAGE</h6>
                  </div>
                  <a class="dropdown-item" id="print_ScheduleAndScores_TeamPerPage">Schedule and Scores</a>
                  <a class="dropdown-item" id="print_ScheduleOnly_TeamPerPage">Schedule Only</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-multiline" id="teamCards">
      <div class="column is-half team-card is-full-if-single-team p-3" id="cardTemplate">
        <p class="title is-5 is-4-if-single-team" id="teamName" />
        <p class="subtitle is-7 is-6-if-single-team" id="churchName" />
        <div class="columns is-mobile is-centered mt-2 hide-if-schedule" id="statsRow">
          <div class="column is-3 has-text-centered team-card-right-border">
            <span class="title is-5 is-4-if-single-team" id="rankLabel"></span><br />
            <i class="subtitle is-6 is-5-if-single-team">PLACE</i>
          </div>
          <div class="column is-one-fifth has-text-centered team-card-right-border">
            <span class="title is-5 is-4-if-single-team" id="recordLabel"></span><br />
            <i class="subtitle is-6 is-5-if-single-team">W-L</i>
          </div>
          <div class="column is-one-fifth has-text-centered team-card-right-border">
            <span class="title is-5 is-4-if-single-team" id="pointsLabel"></span><br>
            <i class="subtitle is-6 is-5-if-single-team">PTS</i>
          </div>
          <div class="column is-one-fifth has-text-centered">
            <span class="title is-5 is-4-if-single-team" id="averageLabel"></span><br />
            <i class="subtitle is-6 is-5-if-single-team">AVG</i>
          </div>
        </div>
        <ol class="is-size-7 is-size-5-if-single-team" id="matchList">
          <li id="matchItem">
            <div class="show-if-schedule hide-on-print" id="scheduleLabel"></div>
            <div class="hide-if-schedule" id="statsLabel">
              <a id="statsLink"></a>
              <i id="liveEventLabel">
                <br />
                <i>
                  <i class="fas fa-satellite-dish"></i>&nbsp;Question #<span id="questionNumber" />
                </i>
              </i>
            </div>
          </li>
        </ol>
        <p class="is-size-7 mb-0" id="coachContainer"><b>Head Coach: </b> <span id="coachLabel" /></p>
        <p class="is-size-7 mb-0" id="quizzersContainer"><b>Quizzers: </b> <span id="quizzersLabel" /></p>
      </div>
      <div class="show-if-single-team" id="spacerTemplate"></div>
    </div>
    <div id="scheduleGrid">
      <table class="table is-striped is-fullwidth is-bordered is-narrow">
        <thead>
          <tr id="scheduleTeamTableHeaderRow">
            <th id="rankColumn" width="30" class="has-text-right hide-if-schedule">#</th>
            <th width="33%">Team</th>
            <th id="winColumn" width="30" class="has-text-right hide-if-schedule">W</th>
            <th id="lossColumn" width="30" class="has-text-right hide-if-schedule">L</th>
            <th id="totalColumn" width="65" class="has-text-right hide-if-schedule">Total</th>
            <th id="averageColumn" width="65" class="has-text-right hide-if-schedule">Avg</th>
            <th class="has-text-centered" id="matchItem" />
          </tr>
        </thead>
        <tbody id="scheduleTeamTableBody">
          <tr id="cardTemplate">
            <td id="rankColumn" class="has-text-right hide-if-schedule" />
            <td id="nameColumn" />
            <td id="winColumn" class="has-text-right hide-if-schedule" />
            <td id="lossColumn" class="has-text-right hide-if-schedule" />
            <td id="totalColumn" class="has-text-right hide-if-schedule" />
            <td id="averageColumn" class="has-text-right hide-if-schedule" />
            <td id="matchItem" class="has-text-centered">
              <div class="show-if-schedule hide-on-print" id="scheduleLabel"></div>
              <div class="hide-if-schedule" id="statsLabel">
                <a id="statsLink"></a><br />
                <i id="liveEventLabel">#<span id="questionNumber"></span></i>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot id="scheduleTeamTableFooter">
          <tr id="tableRow">
            <th class="show-if-schedule hide-on-print">Planned Start Time for Match</th>
            <th colspan="6" class="hide-if-schedule">Planned Start Time for Match</th>
            <th class="has-text-centered" id="matchItem" />
          </tr>
        </tfoot>
      </table>
      <div style="break-before: page;" />
      <table class="table is-striped is-fullwidth is-bordered is-narrow">
        <thead>
          <tr>
            <th width="33%">Team / Coach</th>
            <th width="66%" colspan="2">Quizzers</th>
          </tr>
        </thead>
        <tbody id="scheduleIndividualTableBody">
          <tr id="cardTemplate">
            <td id="teamAndCoachColumn" />
            <td id="quizzerColumn1" />
            <td id="quizzerColumn2" />
          </tr>
        </tbody>
      </table>
    </div>
  </template>

  <template id="codeTemplate">
    <div class="has-text-centered">
      <img id="qrCodeImage" width="500" height="500" />
    </div>
    <div class="has-text-centered">
      <a type="button" id="downloadButton" class="button is-primary">
        <i class="fas fa-download"></i>&nbsp;Download QR Code Image
      </a>
    </div>
  </template>

  <template id="coordinatorTemplate">
    <div class="columns is-mobile mt-2">
      <div class="column is-fullwidth">
        <p class="title is-3" id="meetName" />
        <p class="subtitle is-7"><i>Last Updated: <span id="lastUpdated" /></i></p>
      </div>
    </div>
    <div>
      <table class="table is-striped is-fullwidth is-bordered is-narrow">
        <thead>
          <tr id="headerRow">
            <th class="has-text-right" width="65">Room</th>
            <th class="has-text-centered" id="matchItem" />
          </tr>
        </thead>
        <tbody id="tableRows">
          <tr id="rowTemplate">
            <td class="has-text-centered" id="name" />
            <td class="has-text-centered" id="matchItem">
              <a id="notStartedLink" style="cursor: pointer">
                <i class="fas fa-hourglass-start"></i>
                <span id="linkedMeetSection">
                  <br />
                  <i id="linkedMeetName"></span>
                </span>
              </a>
              <a id="inProgressLink" style="cursor: pointer">
                <i class="fas fa-satellite-dish"></i>&nbsp;<span id="currentQuestion"></span>
                <span id="linkedMeetSection">
                  <br />
                  <i id="linkedMeetName"></span>
                </span>
              </a>
              <a id="completedLink" style="cursor: pointer">
                <i class="fas fa-check-circle" style="color:#009900"></i>
                <span id="linkedMeetSection">
                  <br />
                  <i id="linkedMeetName"></span>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>