<footer id="pageFooter" class="footer">
    
    <div class="container">
        
        <div class="ads-container">
            <a href="{% link assets/sponsors/Glide-Lock-Cabinets-2023.pdf %}"><img src="{% link assets/sponsors/glide-lock-cabinets.jpg %}" alt="Image 1"></a>
            <a href="{% link assets/sponsors/Lindenwood-University.pdf %}"><img src="{% link assets/sponsors/lindenwood.jpg %}" alt="Image 2"></a>
        </div>
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            {% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}" target="_blank"><i class="svg-icon dribbble"></i></a>{% endif %}
            {% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
            {% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="_blank"><i class="svg-icon facebook"></i></a>{% endif %}
            {% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="_blank"><i class="svg-icon flickr"></i></a>{% endif %}
            {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" target="_blank"><i class="svg-icon github"></i></a>{% endif %}
            {% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}" target="_blank"><i class="svg-icon instagram"></i></a>{% endif %}
            {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank"><i class="svg-icon linkedin"></i></a>{% endif %}
            {% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" target="_blank"><i class="svg-icon pinterest"></i></a>{% endif %}
            {% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml" target="_blank"><i class="svg-icon rss"></i></a>{% endif %}
            {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="_blank"><i class="svg-icon twitter"></i></a>{% endif %}
            {% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="_blank"><i class="svg-icon stackoverflow"></i></a>{% endif %}
            {% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}" target="_blank"><i class="svg-icon youtube"></i></a>{% endif %}
            {% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}" target="_blank"><i class="svg-icon googleplus"></i></a>{% endif %}
            {% if site.footer-links.playconsole %}<a href="https://play.google.com/store/apps/dev?id={{ site.footer-links.playconsole }}" target="_blank"><i class="svg-icon playconsole"></i></a>{% endif %}
            {% if site.footer-links.mastodon %}<a rel="me" href="https://{{ site.footer-links.mastodon }}" target="_blank"><i class="svg-icon mastodon"></i></a>{% endif %}
        </div>

        <div class="content is-small has-text-centered">
            <i>Junior Bible Quiz graphics, logos, product images, and service names are trademarked by the General Council of the Assemblies of God. Use of these images and trademarks without written authorization is forbidden and is a violation of federal and international laws.</i>
        </div>
    </div>
</footer>
