{% assign menus = site.data.[page.menubar] %}
{% assign ads = site.data.[page.menubar_ads] %}

<aside class="menu">
{% if menus %}
    <section>
    {% for menu in menus %}
        {% if menu.label %}
        <p class="menu-label">{{ menu.label }}</p>
        {% endif %}
        <ul class="menu-list">
            {% for item in menu.items %}
            <li>
                <a href="{{ item.link | relative_url }}" class="{% if item.link == page.url %}is-active{% endif %}">
                    {% if item.icon %}
                    <i class="{{ item.icon }}"></i>&nbsp;
                    {% endif %}
                    {{ item.name }}
                </a>
                {% if item.items %}
                <ul>
                    {% for subitem in item.items %}
                    <li>
                        <a href="{{ subitem.link | relative_url }}" class="{% if subitem.link == page.url %}is-active{% endif %}">
                            {% if subitem.icon %}
                            <i class="{{ subitem.icon }}"></i>&nbsp;
                            {% endif %}
                            {{ subitem.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}    
        </ul>
    {% endfor %}
    </section>
{% endif %}

{% if ads %}
    <section style="text-align:center;{% if menus %}margin-top:30px{% endif %}">
    {% for item in ads %}
        <a href="{{ item.link | relative_url }}">
            {% if item.image %}
            <img src="{{ item.image | relative_url }}"{% if item.width %} width="{{ item.width }}"{% endif %}{% if item.height %} height="{{ item.height }}"{% endif %}/>
            {% endif %}
            {% if item.title or item.subtitle %}
            <div>
                {% if item.title %}
                {{ item.title }}
                {% endif %}
                {% if item.subtitle %}
                {% if item.title %}<br />{% endif %}
                {{ item.subtitle }}
                {% endif %}
            </div>
            {% endif %}
        </a>
    {% endfor %}
    </section>
{% endif %}
</aside>