<div class="card">
    {% if post.image %}
    {{ image_max_height }}
    <div class="card-image"{% if image_max_height %} style="max-height:{{ image_max_height }}"{% endif %}>
        <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ site.baseurl }}/assets/{{ post.date | date: "%Y" }}/{{ post.image }}" alt="{{ post.title }}">
        </a>
    </div>
    {% else %}
    <header class="card-header">
        <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </header>
    {% endif %}
    <div class="card-content">
        <div class="content">
            {% if post.image %}
            <a class="title is-4" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
            {% endif %}
            {% if post.summary %}
                {{ post.summary | markdownify }}
            {% else %}
                <p>{{ post.excerpt }}</p>
            {% endif %}
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">Read more</a>
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ post.date | date: "%b %-d, %Y" }}</p>
    </footer>
</div>