<form 
    action="https://biblequiz.us11.list-manage.com/subscribe/post?u=089b34ce4234326ee935daca3&amp;id=ff95fe96ee" method="post"
    target="_blank">

    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
            <input class="input is-danger" type="email" name="EMAIL" placeholder="email@domain.com" required>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">First Name</label>
        <div class="control">
            <input class="input" type="text" name="FNAME" placeholder="Jane" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
            <input class="input" type="text" name="LNAME" placeholder="Smith" required>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <input class="button is-link" name="subscribe" type="submit" value="Subscribe">
        </div>
        <div class="control">
            <input class="button is-link" name="cancel" type="reset" value="Cancel">
        </div>
    </div>

</form>