@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Rubik");

$family-sans-serif: "Rubik", "Helvetica Neue", Arial, sans-serif;
$primary: #0a6665 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass"; // Defined in the remote theme in _config.yml
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "svg-icons";
@import "../node_modules/bulma-block-list/src/block-list.scss"; // Defined in the remote theme in _config.yml
@import "custom"