a {
	color: #0a6665
}

a:hover {
  background-color: #0a6665;
}

a:active {
  background-color: #0a6665;
}

.menu-list a.is-active {
	background-color: #0a6665;
}

.navbar-item img {
	max-height: 2rem;
}