a {
    color: #0a6665;
}

a:hover {
    color: #0d9795;
}

.menu-list a.is-active,
.tabs.is-toggle li.is-active a {
    color: #ffffff;
    background-color: #0a6665;
}

.navbar-item img {
    max-height: 2rem;
}

.content table {
    width: inherit;
}

.post-details {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}
.lowercase {
    text-transform: lowercase;
}

/* footer ads */

.ads-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.ads-container img {
    max-width: 350px;
    height: auto;
    padding: 20px;
}

@media (max-width: 1024px) {
    .ads-container {
        flex-direction: column;
    }
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.italic,
.italics {
    font-style: italic;
}

.footer-icons svg {
    padding: 0 8px;
}
