---
import EventScopeBadge from '@components/EventScopeBadge.astro';
import regions from '../data/regions.json';
import districts from '../data/districts.json';
---

<div>
  <label class="select">
    <span class="label">Filter</span>
    <select class="filterScope">
      <option value="" selected>Any Region or District</option>
      <option value="" disabled>----------------------</option>
      {regions.map(region => (
        <option value=`R${region.id}`>{region.name} Region</option>
      ))}
      <option value="" disabled>----------------------</option>
      {districts.map(district => (
        <option value=`D${district.id}`>{district.name} District</option>
      ))}
    </select>
  </label>&nbsp;

  <label>
    <input type="checkbox" checked="checked" class="checkbox checkbox-m" name="filterScope" value="district" checked />&nbsp;<EventScopeBadge scope="district" />
  </label>
  <label>
    <input type="checkbox" checked="checked" class="checkbox checkbox-m" name="filterScope" value="region" checked />&nbsp;<EventScopeBadge scope="region" />
  </label>
  <label>
    <input type="checkbox" checked="checked" class="checkbox checkbox-m" name="filterScope" value="nation" checked />&nbsp;<EventScopeBadge scope="nation" />
  </label>
</div>
