---
import QRCode from "qrcode-svg";

interface Props {
    url: string;
    width?: number;
    height?: number;
    color?: string;
    backgroundColor?: string;
}

const { url, width, height, color, backgroundColor } = Astro.props as Props;

const qrc = new QRCode({
    content: url,
    padding: 4,
    width: width ?? height ?? 256,
    color: color ?? "#000000",
    height: height ?? width ?? 256,
    background: backgroundColor ?? "#ffffff",
    ecl: "M",
});
---
<div>
    <h1>QR Code</h1>
    <div dangerouslySetInnerHTML={{ __html: qrc.svg() }} />
</div>