---
import EventRoot from "./EventRoot";
---

<div id="event-fallback" class="flex justify-center items-center">
    <span class="loading loading-spinner loading-xl"></span>&nbsp; Loading Event
    Management ...
</div>
<EventRoot client:only="react" />
