.team-card-right-border {
    border-right: 1px solid rgba(128, 128, 128, 0.5);
}

/* Configuration for the page when printing. */
@media not print {
    .show-if-schedule {
        display: none;
    }

    .show-if-single-team {
        display: none;
    }

    .search-highlight {
        background-color: #ffff80;
    }
}

@media print {
    .notification {
        padding: 0;
    }

    .is-success {
        color: black;
        background-color: unset;
    }

    .show-on-print {
        display: unset;
    }

    .hide-on-print {
        display: none;
    }

    .blank-schedule .show-if-schedule {
        display: block;
    }

    .blank-schedule .hide-if-schedule {
        display: none;
    }

    .single-team-page .show-if-single-team {
        display: block;
    }

    div.team-card {
        break-inside: avoid;
    }
}