---
// This file is intentionally left blank as it's sole purpose is to handle the authentication redirect
// from Entra.
---

<html>
    <head>
        <title>Redirecting from BibleQuiz.com login ...</title>
    </head>
    <body>
    </body>
</html>
