---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
// @ts-ignore
import type { StarlightPageFrontmatter } from "@astrojs/starlight/types";
import LiveAndUpcomingApp from "components/apps/liveAndUpcoming/LiveAndUpcomingApp.astro";

const frontmatter: StarlightPageFrontmatter = {
    title: "Events & Scores",
    description:
        "Follow live scores, view recent results, or register for an upcoming Bible Quiz event.",
    template: "doc",
    tableOfContents: false,
    sidebar: {
        order: 1,
        attrs: {
            icon: "fas faBroadcastTower",
        },
    },
};
---

<StarlightPage frontmatter={frontmatter}>
    <p class="event-list-introduction">
        Follow live scores, view recent results, or register for an upcoming
        event. Use the filters to narrow the list by Program or location.
    </p>
    <LiveAndUpcomingApp />
</StarlightPage>

<style>
    .event-list-introduction {
        margin-top: 0;
        font-size: var(--sl-text-lg);
    }
</style>
