---
layout: default
title: Blog
menubar_search: true
menubar_subscribe: true
menubar_categories: true
---

<div class="columns is-multiline">
    <div class="column is-12">{% include pagination.html %}</div>
    {% for post in paginator.posts %}
    <div class="column is-12">
        {% include post-card.html image_max_height="400px" %}
    </div>
    {% endfor %}
    <div class="column is-12">{% include pagination.html %}</div>
    <div class="column is-12">{% include subscribe.html %}</div>
</div>
