---
import EventListFilters from "./EventListFilters.tsx";
import path from "path";
import { getAstroRootSourcePath, tryReadFileAsJson } from "utils/FileSystem";
import type { EventTypeList, EventList } from "types/EventTypes";
import regions from "data/regions.json";
import districts from "data/districts.json";
import EventListContent from "./EventListContent";
import futureEvents from "data/generated/futureEvents.json";

interface Props {
    season: number;
    type: "tbq" | "jbq" | "both";
    source?: "generated" | "imported" | "both" | null;
    includeLive?: boolean;
    includeUpcoming?: boolean;
    includeRecent?: boolean;
}

const { season, type, source } = Astro.props as Props;

const loadEventsFile = async (
    filePath: string,
): Promise<EventTypeList | null> => {
    const events = await tryReadFileAsJson<EventTypeList>(
        path.resolve(await getAstroRootSourcePath(import.meta.url), filePath),
    );

    if (type && events) {
        const keys = Object.keys(events || []);
        for (const key of keys) {
            if (type !== key) {
                delete events[key];
            }
        }
    }

    return events;
};

const events: EventTypeList | null =
    source === "imported"
        ? await loadEventsFile(`data/imported/seasons/${season}.json`)
        : await loadEventsFile(`data/generated/seasons/${season}/events.json`);
---

<div id="events-fallback" class="flex justify-center items-center">
    <span class="loading loading-spinner loading-xl"></span>&nbsp; Loading the
    Loading Events ...
</div>
<div id="events-list" class="mt-0" style="display: none;">
    <EventListFilters
        regions={regions}
        districts={districts}
        allowTypeFilter={!type}
        client:only="react"
    />
    <EventListContent
        events={events || {}}
        futureEvents={(futureEvents as any as EventTypeList) || {}}
        loadingElementId="events-fallback"
        containerElementId="events-list"
        excludeMissingDates={source === "generated"}
        client:only="react"
    />
</div>
