---
import FontAwesomeIcon from "@components/FontAwesomeIcon";

interface Props {
    isLoaded: boolean;
}

const { isLoaded } = Astro.props as Props;
---

<button
    id="excel-export-button"
    class="btn btn-warning cursor-pointer hide-on-print"
    disabled={!isLoaded}
>
    <FontAwesomeIcon icon="fas faFileExcel" />
</button>
