---
import type { EventTypeList } from "types/EventTypes";
import LiveAndUpcomingRoot from "./LiveAndUpcomingRoot";
import futureEvents from "data/generated/futureEvents.json";
---

<div id="generator-fallback" class="flex justify-center items-center">
    <span class="loading loading-spinner loading-xl"></span>&nbsp; Loading the
    Live and Upcoming Events ...
</div>
<LiveAndUpcomingRoot
    client:only="react"
    events={(futureEvents as any) as EventTypeList}
    loadingElementId="generator-fallback"
/>
