---
import type { EventTypeList } from "types/EventTypes";
import LiveAndUpcomingRoot from "./LiveAndUpcomingRoot";
import path from "path";
import { getAstroRootSourcePath, tryReadFileAsJson } from "utils/FileSystem";

const importedEvents: EventTypeList | null =
    await tryReadFileAsJson<EventTypeList>(
        path.resolve(
            await getAstroRootSourcePath(import.meta.url),
            "data/imported/seasons/future.json",
        ),
    );
---

<div id="generator-fallback" class="flex justify-center items-center">
    <span class="loading loading-spinner loading-xl"></span>&nbsp; Loading the
    Live and Upcoming Events ...
</div>
<LiveAndUpcomingRoot
    client:only="react"
    events={importedEvents}
    loadingElementId="generator-fallback"
/>
