---
import { ExcelDialogModalId } from "./ExcelDialogContent";
import FontAwesomeIcon from "@components/FontAwesomeIcon";

interface Props {
    isLoaded: boolean;
}

const { isLoaded } = Astro.props as Props;
---

<button
    type="button"
    id={`${ExcelDialogModalId}-button`}
    class="btn btn-warning btn-square cursor-pointer"
    disabled={!isLoaded}
>
    <FontAwesomeIcon icon="fas faFileExcel" />
</button>
