---
import { PrintDialogModalId } from "./PrintDialogContent";
import PrintDialogContent from "./PrintDialogContent";
import { EventScoringReport } from "@types/EventScoringReport";

interface Props {
    eventName: string;
    report: EventScoringReport | null;
}

const { eventName } = Astro.props as Props;
---

<dialog id={PrintDialogModalId} class="modal">
    <div class="modal-box w-full max-w-5xl">
        <form method="dialog">
            <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                >✕</button
            >
        </form>
        <PrintDialogContent eventName={eventName} client:only="react" />
    </div>
</dialog>

<script>
    import { PrintDialogModalId } from "./PrintDialogContent";

    function openPrintDialog(event: any) {
        event.preventDefault();

        const dialogElement = document.getElementById(PrintDialogModalId);
        (dialogElement as any).showModal();
    }

    // Find our component DOM on the page.
    const button: HTMLElement = document.getElementById(
        `${PrintDialogModalId}-button`,
    )!;
    button.addEventListener("click", openPrintDialog);
</script>
