---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
// @ts-ignore
import type { StarlightPageFrontmatter } from "@astrojs/starlight/types";
import PermissionsPage from "components/apps/permissions/PermissionsPage";

const frontmatter: StarlightPageFrontmatter = {
    title: "Permissions",
    hidePageTitle: false,
    hideAdsOnPrint: true,
    pagefind: false
};
---

<StarlightPage frontmatter={frontmatter}>
    <div id="permissions-fallback" class="flex justify-center items-center">
        <span class="loading loading-spinner loading-xl"></span>&nbsp; Loading Page ...
    </div>
    <PermissionsPage client:only="react" />
</StarlightPage>
